@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f2ed;
    --foreground: #ededed;
    --color: #213d34;
    --color2: #d9ef78;
    --mainColor: #f1f2ed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color:var(--color)
}
html {
  scroll-behavior: smooth;
}
#navHide {
  transform: translateY(-100vh);
}
#navHide.showNav {
  transform: translateY(0);
  transition: 0.8s all ease-in-out;
  backdrop-filter: blur(16px);
  margin-top: 30px;
  height: 100vh;
}
hr {
  color: var(--color);
}
#close {
  border: 1px solid var(--color);
  border-radius: 50%;
  padding: 10px;
}
#close:hover {
  background-color: var(--color);
  color: white;
  cursor: pointer;
  border: none;
  transition: 0.5s all ease-in-out;
  animation: rotate 0.5s;
}
@keyframes rotate {
  0% {
    rotate: 90deg;
  }
  100% {
    rotate: 180deg;
  }
}
