@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f2ed;
    --foreground: #ededed;
    --color: #213d34;
    --color2: #d9ef78;
    --mainColor: #f1f2ed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color);
}
html {
  scroll-behavior: smooth;
}
#navHide {
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease;
}

#navHide.showNav {
  height: 100vh;
}
hr {
  color: var(--color);
}
#close:active {
  background-color: var(--color) !important;
  color: black;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  animation: rotate 0.5s;
}
@keyframes rotate {
  0% {
    rotate: 90deg;
  }
  100% {
    rotate: 180deg;
  }
}
