@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f2ed;
    --foreground: #ededed;
    --color: #213d34;
    --color2: #d9ef78;
    --mainColor: #f1f2ed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color);
}
html {
  scroll-behavior: smooth;
}
#navHide {
  transform: translateY(-100vh);
  z-index: 100;
}
#navHide.showNav {
  transform: translateY(0);
  transition: 0.6s all ease-in-out;
  backdrop-filter: blur(16px);
  margin-top: 30px;
  height: 100vh;
}
hr {
  color: var(--color);
}
#close {
  border: 2px solid rgba(8, 77, 8, 0.808);
  border-radius: 50%;
  padding: 10px;
  background-color: #d9ef78 !important;
  color: var(--color2);
  transition: 0.6s all ease-in-out;
}
#close:active {
  background-color: var(--color) !important;
  color: black;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  animation: rotate 0.5s;
}
@keyframes rotate {
  0% {
    rotate: 90deg;
  }
  100% {
    rotate: 180deg;
  }
}
